/* .margen {
   margin: 100px;
 } */
 
 .tabla {
   width: 100%;
   text-align: left;
 }
 
 .tabla td {
   padding-top: 10px;
   padding-bottom: 10px;
 }

 #menu a{
   color: white;
 }

 #menu h3 {
   color: white;
 }
 
 body {
   margin: 0;
 }
 /* Loader */

 .center {
    text-align: center;
 }

li {
  margin: 15px 0px 15px 0;
}

.contenedor_tareas {
  font-size: 20px;
  margin-left: 50px;
  margin-bottom: 70px;
}


.m_left {
  margin-left: 20px;
}

/* table_container */

.table_container {
  padding: 10px;
  border-radius: 30px;
  background: #ffffff;
  box-shadow:  20px 20px 60px #d9d9d9,
             -20px -20px 60px #ffffff;
}


.publicaciones-card {
  cursor: pointer;
  margin-top: 1.5rem;
  border-radius: 15px;
  background: #ffffff;
  box-shadow:  20px 20px 60px #d9d9d9,
              -20px -20px 60px #ffffff;
}

.comments-list {
  list-style:none
}

.agregar-btn {
  text-decoration: none;
}